workflow-teste.json
{
  "name": "FarmaBot - Teste de Conexão",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-teste",
        "responseMode": "onReceived"
      },
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "farmabot-teste"
    },
    {
      "parameters": {
        "functionCode": "// Simular recebimento de mensagem WhatsApp\nconst mensagem = $input.first().json;\n\n// Extrair dados da mensagem\nconst telefone = mensagem.from || '5511999999999';\nconst texto = mensagem.text || mensagem.message || 'teste';\n\nconsole.log('Mensagem recebida:', {\n  telefone,\n  texto,\n  timestamp: new Date().toISOString()\n});\n\n// Preparar resposta\nreturn {\n  telefone: telefone,\n  mensagem_recebida: texto,\n  resposta: `🤖 FarmaBot recebeu: \"${texto}\"\n\n✅ Sistema funcionando!\n📱 Telefone: ${telefone}\n⏰ Horário: ${new Date().toLocaleString('pt-BR')}\n\n🔍 Digite \"preço dipirona\" para testar busca de produtos!`,\n  status: 'processado',\n  farmacia: 'Farmácia São João'\n};"
      },
      "name": "Processar Mensagem",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"mensagem_recebida\"].toLowerCase()}}",
              "operation": "contains",
              "value2": "preço"
            }
          ]
        }
      },
      "name": "É consulta de preço?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Simular busca no Supabase\nconst produto = $json.mensagem_recebida.toLowerCase().includes('dipirona') ? 'Dipirona' : 'Produto';\n\n// Simular dados do Supabase\nconst resultado = {\n  produto_encontrado: produto,\n  preco: 'R$ 8,50',\n  estoque: 45,\n  laboratorio: 'EMS',\n  disponivel: true\n};\n\nconst resposta = `🔍 *Resultados para: ${produto}*\n\n📍 *NOSSA FARMÁCIA:*\n• ${produto} EMS 500mg - ${resultado.preco}\n  ✅ Disponível (${resultado.estoque} unidades)\n\n🏪 *OUTRAS FARMÁCIAS:*\n• Drogasil: R$ 9,20 (+R$ 0,70)\n• Raia: R$ 8,90 (+R$ 0,40)\n\n💰 *Você economiza até R$ 0,70 conosco!*\n\n📱 O que deseja fazer?\n1️⃣ Reservar produto\n2️⃣ Ver mais informações\n3️⃣ Falar com farmacêutico`;\n\nreturn {\n  ...resultado,\n  resposta_formatada: resposta,\n  tipo: 'consulta_preco'\n};"
      },
      "name": "Buscar Produto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "functionCode": "// Resposta padrão para outras mensagens\nconst resposta = `🤖 *FarmaBot - Farmácia São João*\n\nOlá! Como posso ajudar você hoje?\n\n🔍 *Consultar preços*\n💊 *Informações sobre medicamentos*\n🛒 *Fazer pedido*\n📞 *Falar com farmacêutico*\n📍 *Localização e horários*\n\n💡 *Exemplo:* Digite \"preço dipirona\" para consultar preços!\n\nEstou aqui para ajudar! 😊`;\n\nreturn {\n  resposta_formatada: resposta,\n  tipo: 'menu_principal'\n};"
      },
      "name": "Menu Principal",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "functionCode": "// Consolidar resposta final\nconst dados = $input.first().json;\n\nreturn {\n  telefone: $('Processar Mensagem').first().json.telefone,\n  resposta: dados.resposta_formatada || dados.resposta,\n  tipo: dados.tipo || 'resposta',\n  timestamp: new Date().toISOString(),\n  sucesso: true\n};"
      },
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Processar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagem": {
      "main": [
        [
          {
            "node": "É consulta de preço?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É consulta de preço?": {
      "main": [
        [
          {
            "node": "Buscar Produto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produto": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Principal": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}